In [1]:
import pandas as pd

In [6]:
df = pd.DataFrame({'A': 4, 'B': 3, 'C': 6}, index=[0])
df

   A  B  C
0  4  3  6

In [11]:
df['D'] = df.apply(lambda x: max(x), axis=1)

In [12]:
df

   A  B  C  D
0  4  3  6  6